* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #222;
}
.wrapper {
    display: flex;
    flex-direction: column;
    height: 80vh;
    justify-content: space-evenly;
    align-items: center;
}

.btn {
    padding: 10px 40px;
    background-color: transparent;
    color: #fff;
    border-radius: 6px;
    letter-spacing: 3px;
    position: relative;
}

/*----Wave button----*/

.btn-1 {
    border: 1px solid #48e;
    overflow: hidden;
}
.btn-1::before {
    content: "";
    /*before necesita la propiedad content con las comillas vacias para que funcione*/
    background-color: #48e;
    display: block;
    height: 200%;
    width: 140%;
    position: absolute;
    z-index: -1;

    transition: top 0.6s, left 0.6s;
    border-radius: 50%;
    top: 100%;
    left: 30%;
}

.btn-1:hover::before {
    top: -35%;
    left: -20%;
}

/*----Neon button----*/

.button-container:has(.btn-2) {
    filter: drop-shadow(0px 0px 15px #48e);
}

.btn-2 {
    border: 1px solid #fff3;
    color: #fff3;
}

.btn-2:hover {
    animation: parpadear 1s infinite alternate backwards;
    /*Shorthand de animation con todas las propiedades*/
}
.btn-2::before {
    content: "";
    background-color: #48e;
    display: block;
    height: 1px;
    width: 70%;
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    margin: auto;
    opacity: 0;
    top: -26px;
    transition: top 0.6s, opacity 0.6s;
}

.btn-2:hover::before {
    opacity: 1;
    top: -6px;
}

.btn-2::after {
    content: "";
    background-color: #48e;
    display: block;
    height: 1px;
    width: 60%;
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    margin: auto;
    opacity: 0;
    top: -19px;
    transition: top 0.6s, opacity 0.6s;
}

.btn-2:hover::after {
    opacity: 1;
    top: -10px;
}

@keyframes parpadear {
    0% {
        color: #fff4;
        border: 1px solid #fff4;
        text-shadow: 0px;
        box-shadow: 0px;
    }
    20% {
        border-color: #48e;
        color: rgb(130, 175, 242);
        box-shadow: 0 0 6px #48e3, 0 0 16px #48e3;
        text-shadow: 0 0 9px rgba(130, 175, 242, 0.933),
            0 0 3px rgba(130, 175, 242, 0.933);
    }
    40% {
        color: #fff4;
        border: 1px solid #fff4;
        text-shadow: 0px;
        box-shadow: 0px;
    }
    60% {
        border-color: #48e;
        color: rgb(130, 175, 242);
        box-shadow: 0 0 6px #48e3, 0 0 16px #48e3;
        text-shadow: 0 0 9px rgba(130, 175, 242, 0.933),
            0 0 3px rgba(130, 175, 242, 0.933);
    }
    80% {
        color: #fff4;
        border: 1px solid #fff4;
        text-shadow: 0px;
        box-shadow: 0px;
    }
    100% {
        border-color: #48e;
        color: rgb(130, 175, 242);
        box-shadow: 0 0 6px #48e3, 0 0 16px #48e3;
        text-shadow: 0 0 9px rgba(130, 175, 242, 0.933),
            0 0 3px rgba(130, 175, 242, 0.933);
    }
}
