* {
    margin: 0;
    font-family: sans-serif;
    background-color: #ccc;
    padding: 0;
    box-sizing: border-box;
}

.crecedor {
    height: 100vh;
}

.box {
    view-timeline: --cajita block;
    /*Animacion basada en la vista de un elemento, comienza cuando aparece en el bottom, y termina cuando desaparece en el top */
    background-color: #48e;
    padding: 20px;
    animation: llenar-barra;
    animation-timeline: --cajita;
}

@keyframes llenar-barra {
    from {
        width: 0%;
    }
    to {
        width: 100%;
        background-color: #f33;
    }
}
